<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <package android:name="com.bca.apos" />
        <package android:name="com.bca.apos.castles" />
        <package android:name="com.bca.apos.ingenico" />
        <package android:name="com.bca.apos.pax" />
        <package android:name="com.bca.apos.verifone" />
        <package android:name="com.bca.apos.dev.castles" />
        <package android:name="com.bca.apos.dev.ingenico" />
        <package android:name="com.bca.apos.dev.pax" />
        <package android:name="com.bca.apos.dev.verifone" />
        <package android:name="com.bca.apos.staging.castles" />
        <package android:name="com.bca.apos.staging.ingenico" />
        <package android:name="com.bca.apos.staging.pax" />
        <package android:name="com.bca.apos.staging.verifone" />
    </queries>

    <application
        android:icon="@drawable/apos_fusion_logo_512"
        android:roundIcon="@drawable/apos_fusion_logo_512"
        android:usesCleartextTraffic="true"
        android:label="APOS BANDJAK"
        android:theme="@style/Theme.APOSBandjak">
        <!-- Login -->
        <activity
            android:name="com.bandjak.pos.ui.login.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- API Settings -->
        <activity
            android:name="com.bandjak.pos.ui.settings.ApiSettingsActivity"/>

        <!-- Orders list -->
        <activity
            android:name="com.bandjak.pos.ui.orders.OrdersActivity"/>

        <!-- Order Detail -->
        <activity
            android:name="com.bandjak.pos.ui.orders.OrderDetailActivity"/>

        <!-- Payment -->
        <activity
            android:name="com.bandjak.pos.ui.orders.PaymentActivity"/>

        <!-- Down Payment -->
        <activity
            android:name="com.bandjak.pos.ui.orders.DownPaymentActivity"/>

    </application>

</manifest>
